- if user_signed_in?
  %p#intro
    hello
    = current_user.name
    %br/
    %span
      Share your inspiration and see what inspires others.
- else
  %p#intro
    What's your muse?
    %br/
    %span
      Share your inspiration and see what inspires others.

#posts
  - @posts.each do |post|
    .post
      .post_image
        = link_to (image_tag post.image, {:class => "img_small"}), post
      .post_content
        .title
          %h2= link_to post.title, post
        .data.clearfix
          %p.username
            Shared by
            = post.user.name
          %p.buttons
            %span
              %i.fa.fa-comments-o
              = pluralize(post.comments.count, "comment")
            %span
              %i.fa.fa-thumbs-o-up
              = pluralize(post.get_upvotes.size, "like")
